body {
    background-color: lavender;
    font-family: 'Fredoka';
    font-weight: 400;
    height: 100vh;
    background: lavender no-repeat url(../IMG/faq2.jpg);
    background-position: top 10% right 50%;
    background-size: 13%;
}

h1 {
    text-align: center;
    color: midnightblue;
    font-family: 'Raleway';
    font-size: 36pt;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
}




/* NAV CSS */

.nav_list {
    display: inline;
    color: white;
}

.nav_ul {
    text-align: center;
}

.nav_container {
    border: solid 1px;
    width: 100%;
    background-color: midnightblue;
    position: sticky;
}

.nav_icon {
    vertical-align: middle;
}

.left {
    float: left;
    margin-left: 5%;
}

.right {
    float: right;
    margin-right: 5%;
}

.title {
    text-align: center;
    color: white;
    margin: 0 auto;
    width: 20%;
}

/* NAV CSS END*/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/* MENU CODE*/
.menu {
    border: solid 2px white;
    border-radius: 10px;
    width: 20%;
    float: right;
    margin-right: 5%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: lavender;
    padding: 1vw;
    position: relative;
    top: 9vh;
    font-family: 'Raleway';
    font-weight: 800;
}

.elem_menu, .elem_menu a {
    width: 90%;
    margin: 0 auto;
    background-color: lavender;
    color: #F79F79;
    font-size: 1.1em;
}

.textbutton {
    color: midnightblue;
    font-weight: 500;
}

.button_slide {
    color: #FFF;
    border: 4px solid rgb(247, 159, 121);
    border-radius: 10px;
    padding: 18px 36px;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.4s;
    background-color: lavender;

}

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 rgba(25, 25, 112, 0.9);
}

.add_button {
    text-decoration: none;
    color: rgb(247, 159, 121);
    font-weight: 800;
    font-size: 1.3em;
}

.menu_header {
    background-color: midnightblue;
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Fredoka';
    font-size: 2em;
    border-radius: 7px;
    margin-bottom: 2vh;
}

.menu img {
    vertical-align: middle;
}


/* MENU END CODE */
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*ZONE TABLEAU QUESTION*/

/* TABLEAU QUESTION*/
.content {
    width: 60%;
    padding: 20px;
    margin-left: 5%;
    padding: 0 60px 0 0;
    font-size: 1.3em;
    font-family: 'Raleway';
    font-weight: 800;
}

.question {
    position: relative;
    background: lavender;
    color: rgb(247, 159, 121);
    margin: 0;
    padding: 10px 10px 10px 50px;
    display: block;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.reponses {
    background: midnightblue;
    color: white;
    padding: 0px 15px;
    margin: 5px 0;
    height: 0;
    overflow: hidden;
    z-index: 2;
    position: relative;
    opacity: 0;
    transition: .7s ease;
}

.questions:checked~.reponses {
    height: auto;
    opacity: 1;
    padding: 10px;
}

.plus {
    position: absolute;
    margin-left: 10px;
    z-index: 5;
    font-size: 2em;
    line-height: 100%;
    user-select: none;
    transition: .3s ease;
}

.questions:checked~.plus {
    transform: rotate(45deg);
}

.questions {
    display: none;
}

.info {
    text-align: right;
    font-size: 0.6em;
}

.norep {
    font-size: 0.7em;
}

.legende {
    font-family: 'Fredoka';
    color: midnightblue;
    text-align: left;
    font-size: 2em;
    font-weight: 400;
    margin-left: 6%;
}

.reponse_link {
    color: rgb(247, 159, 121);
    letter-spacing: 2px;
    margin-right:3% ;
}

.reponserep{
    color: midnightblue;
    font-size: 1.5em;
    margin-left: 1.5%;
    margin-bottom: 2%;
    font-family: 'Fredoka';
    font-weight: 400;
}

/* TABLEAU QUESTION  FIN*/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*Bienvenue*/
.presentation_container {
    margin-top: 5%;
    margin-bottom: 5%;
    color: midnightblue;
}

.welcome {
    font-size: 30pt;
    margin-left: 15%;
}

.welcome_accroche {
    font-size: x-large;
    margin-left: 15%;
    font-family: 'Raleway';
}

hr {
    border: solid 1px midnightblue;
    width: 22%;
    margin-left: 13%;
}

/*Bienvenue FIN*/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/